.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #f8dd3f;
    padding: 50px;
    margin: 50px;
}

.square{
    height: 38px;
    width: 38px;
    border: .05rem solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

