h1{
    display: flex;
    justify-content: center;
}
.btn{
    display: flex;
    justify-content: center;
}

.container-main{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #f8dd3f;
    padding: 40px;
    margin: 20px;
    width: 550px;
}

.square{
    height: 30px;
    width: 30px;
    border: .05rem solid black;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

